<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Web Test Suite" parallel="none">


    <test name="ChromeTestCases">

        <classes>

            <class name="LoginTests"/>
            <class name="FamilyLinkingTests"/>
            <class name="SendMoneyTests"/>

        </classes>

    </test>

</suite>